::-webkit-input-placeholder{color:#828282;}
::-moz-placeholder{color:#828282;}/*Firefox19+*/
:-moz-placeholder{color:#828282;}/*Firefox18-*/
:-ms-input-placeholder{color:#828282;}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #000;
    background-color: #dedede;
    overflow-y: scroll;
}

.page {
    position: relative;
    margin: 0 auto;
    min-width: 320px;
    max-width: 1440px;
    min-height: 100%;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}


/*шапка*/
.header {
    padding: 19px 30px;
    border-bottom: 2px solid #f8a53a;
    background: #21252D;
}

.logo {
    font-size: 34px;
    font-family: 'PT Mono', monospace;
    color: #fff;
    text-decoration: none;
}

.header__right-block {
    position: absolute;
    right: 30px;
    top: 18px;
}

.header__right-block-in {
    right: 30px;
}

.mos__link {
    display: inline-block;
    font-size: 21px;
    color: #F2F2F2;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    line-height: 40px;
}

.mos__link:hover {
    text-decoration: none;
}

.overlay {
    position: absolute;
    top: 78px;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(51, 51, 51, 0.3);
}

.content__tbl {
    position: relative;
    display: table;
    width: 100%;
}

.content__tbl-in {
    position: relative;
    display: table;
    width: 100%;
    min-height: 100vh;
    height:100vh;
}


.content__row {
    display: table-row;
    vertical-align: top;
}

/*баннер*/
.banner {
    display: block;
    width: 100%;
    min-height: 484px;
    background-size: cover;
    background: url("../images/banner-bg.jpg") no-repeat;
}

.banner__cnt-block {
    position: absolute;
    left: 140px;
    top: 143px;
    width: 592px;
    text-align: left;
}

.banner__cnt {
    font-size: 60px;
    line-height: 67px;
    color: #F2F2F2;
    font-family: 'PT Mono', monospace;
}

.banner__bnt {
    display: inline-block;
    width: 310px;
    padding: 13px 0;
    border-radius: 2px;
    text-align: center;
    background: #F8A53A;
    font-size: 21px;
    font-family: 'PT Mono', monospace;
    border: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.banner__bnt--bnr {
    margin-top: 23px;
}

.banner__bnt--top {
    padding: 8px 0;
}

.banner__bnt--form {
    width: 216px;
    font-size: 24px;
    padding: 11px 0 12px 0;
}

.content__container {
    display: table;
    vertical-align: top;
    position: relative;
    width: 1440px;
    left: -400px;
}

/*меню*/
.nav__btn {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 42px;
    height: 45px;
    background: url("../images/menu.png");
    cursor: pointer;
}

.nav {
    display: table-cell;
    vertical-align: top;
    left: -637px;
    position: relative;
    bottom: 0;
    background: #21252D;
    min-width: 400px;
    width: 1px;
    z-index: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav.active {
    left: 0;
}

.nav-in {
    left: 0;
}

.nav__list,
.nav__sub-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__sub-list {
    margin-left: 18px;
    display: none;
}

.nav__sub-list.active {
    display: block;
}

.nav__item {
    display: block;
}

.nav__link {
    display: inline-block;
    max-width: 278px;
    position: relative;
    padding: 13px 30px;
    font-size: 21px;
    font-family: 'PT Sans', sans-serif;
    color: #F1F1F1;
    text-decoration: none;
}

.nav__link-submenu {
    display: inline-block;
    max-width: 278px;
    position: relative;
    padding: 13px 30px;
    font-size: 13px;
    font-family: 'PT Sans', sans-serif;
    color: #F1F1F1;
    text-decoration: none;
}

.nav__link-submenu.active,
.nav__link.active {
    color: #F8A53A;
}

.nav__link--sm {
    font-size: 13px;
}

.arr-down {
    font-size: 18px;
}

.content__wrap {
    display: table-cell;
    vertical-align: top;

}

.content {
    position: relative;
    max-width: 800px;
    margin:auto;
    padding: 65px 0;
}

.content-in {
    max-width: 700px;
    margin:auto;
    padding: 35px 0 35px;
}

.mos__ttl2 {
    font-size: 24px;
    color: #000;
    font-family: 'PT Sans bold', sans-serif;
    text-align: center;
    line-height: 31px;
}

.mos__cnt {
    font-size: 21px;
    color: #21252D;
    font-family: 'PT Sans', sans-serif;
    line-height: 35px;
}

.mos__cnt + .mos__cnt {
    margin-top: 40px;
}

.mos__form {
    margin: 40px auto;
    width: 500px;
}

.mos__inp-block {
    display: block;
    border: 1px solid #21252D;
    border-radius: 5px;
    height: 50px;
    overflow: hidden;
}

.mos__inp {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    padding: 13px 15px 15px;
    line-height: 23px;
}

.mos__ta-block {
    display: block;
    border: 1px solid #21252D;
    border-radius: 5px;
    height: 100px;
    overflow: hidden;
}

.mos__ta {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    padding: 10px 15px 15px;
    line-height: 23px;
    resize: none;
}

.form__bot {
    text-align: right;
}

.orange {
    color: #f8a53a;
}

.mt10 {
    margin-top: 10px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.ml45 {
    margin-left: 45px !important;
}

